@{
    ViewData["Title"] = "About";
}

<p align="justify">
    Em setembro de 2019 assumi minha primeira posição como desenvolvedor, incumbido de
    desenvolver, sob orientação da equipe, um projeto capaz de aprimorar a comunicação do banco Itaú com 
    os seus correspondentes consignados, assim chamados "Corbans". Dado a inexperiência, demorei mais do que o previsto, o que quase ocasionou minha demissão. Passado algum tempo, enfim, o sistema ficou pronto. 
    Entender a regra de negócio, articular o programa com outros serviços da empresa, seguir o padrão de projeto 
    indicado pela liderança, lidar com o cliente etc., foram alguns dos desafios enfrentados. Este momento marcou, oficialmente, 
    o pontapé inicial da minha carreira. Tratava-se duma aplicação Windows Form (.NET Framework) com arquitetura MVC.
</p>
